html{
    scroll-behavior: smooth;
}
body{
    background-image: url('/photos/img2.jpg');
    background-size: 100%;
    background-position: fixed;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.boxBlogSwot {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    background-color: #f1f1f1ef;
    margin: auto;
    border-radius: 50px;
    width: 1200px;
    height: 580px;
}
.line {
    text-align: center;
    color: black;
}